<a href="https://colab.research.google.com/github/Danub2002/UFBA/blob/main/Confidence_Interval/confidence_interval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp
import numpy as np
import statistics
from math import sqrt


plt.style.use("ggplot")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Funções


def mean_confidence_interval_with_unkown_std(data, confidence = 0.95):
  """"
    Calcula o intervalo de confiança para a média com desvio padrão desconhecido
  """
  sample_mean = data.mean()
  sample_std = data.std()
  
  conf_inter = sp.stats.norm.interval(confidence, loc = sample_mean, scale = sample_std/np.sqrt(data.shape))

  return [conf_inter[0][0], conf_inter[1][0]]



def proportion_confidence_interval(feature,data, confidence = 0.95):
  """
    Calcula o intervalo de confiança para a proporção populacional
  """

  sample_proportion = len(feature)/len(data)

  conf_inter =  sp.stats.norm.interval(confidence,loc = sample_proportion, scale = np.sqrt(sample_proportion * (1 - sample_proportion)/len(data)))
  # Usando em scale data.shape ao inves de len(data) retornamos um array de arrays do numpy

  return [conf_inter[0], conf_inter[1]]

1. Construa um intervalo de confiança de 95% ´para a nota média na prova de
matemática. Interprete o resultado.

In [ ]:
data = pd.read_excel("/content/drive/MyDrive/DadosENEM2021_Bahia_Jiquirica.xlsx")

math_grades = data["NU_NOTA_MT"]

# Intervalo de confiança para a nota na prova de matemática

print("Intervalo de confiança para a nota na prova de matemática")
print()

ci_math = mean_confidence_interval_with_unkown_std(math_grades)


print("erro padrao", math_grades.mean()-ci_math[0])
table_math= {
    "Limite Inferior" : ci_math[0],
    "Limite Superior" : ci_math[1],
    "Margem De Erro" : abs(math_grades.mean()-ci_math[0])
}

ci_math_df = pd.DataFrame(table_math, index = ["Valor"])
ci_math_df.style

Intervalo de confiança para a nota na prova de matemática

erro padrao 9.817911812592513

2. Para o grupo das meninas, construa um intervalo de confiança de 95% para a
nota média na prova de Linguagens e Códigos.

In [ ]:



# Intervalo de confiança para a nota na prova de linguagens para as meninas

girls_lc_grades = data.loc[data.TP_SEXO == "Feminino"]["NU_NOTA_LC"]


print("Intervalo de confiança para a nota na prova de linguagens para as meninas")
print()
ci_girls_lc = mean_confidence_interval_with_unkown_std(girls_lc_grades)


table_girls_lc= {
    "Limite Inferior" : ci_girls_lc[0],
    "Limite Superior" : ci_girls_lc[1],
    "Margem De Erro" : abs(girls_lc_grades.mean() - ci_girls_lc[0])
}

ci_girls_lc_df = pd.DataFrame(table_girls_lc, index = ["Valor"])
ci_girls_lc_df.style

Intervalo de confiança para a nota na prova de linguagens para as meninas

3. Para o grupo dos meninos, construa um intervalo de confiança de 95% para a
nota média na prova de Linguagens e Códigos

In [ ]:
# Intervalo de confiança para a nota na prova de linguagens para as meninas

boys_lc_grades = data.loc[data.TP_SEXO == "Masculino"]["NU_NOTA_LC"]

print("Intervalo de confiança para a nota na prova de linguagens para as meninas", end = "\n")
print()
ci_boys_lc = mean_confidence_interval_with_unkown_std(boys_lc_grades)

table_boys_lc= {
    "Limite Inferior" : ci_boys_lc[0],
    "Limite Superior" : ci_boys_lc[1],
    "Margem De Erro" : abs(boys_lc_grades.mean() - ci_boys_lc[0])
}


ci_boys_lc_df = pd.DataFrame(table_boys_lc, index = ["Valor"])
ci_boys_lc_df.style

Intervalo de confiança para a nota na prova de linguagens para as meninas

5. Construa um intervalo de confiança de 95% separados para meninas e
meninos e verifique se há evidências de diferença significativa entre meninos
e meninas na nota da prova de Matemática.

In [ ]:

# Comparar o intervalo de confiança da prova de LC para meninas e meninos

"""
  OBS: Se existe intersecção no intervalo, não podemos concluir nada sobre
"""
boys_mt_grades = data.loc[data.TP_SEXO == "Masculino"]["NU_NOTA_MT"]
girls_mt_grades = data.loc[data.TP_SEXO == "Feminino"]["NU_NOTA_MT"]


ci_boys_mt = mean_confidence_interval_with_unkown_std(boys_mt_grades)


ci_girls_mt = mean_confidence_interval_with_unkown_std(girls_mt_grades)

table_math_and_sex= {
    "Limite Inferior" : [ci_boys_mt[0],ci_girls_mt[0]],
    "Limite Superior" : [ci_boys_mt[1],ci_girls_mt[1]],
    "Margem de Erro" : [abs(boys_mt_grades.mean()- ci_boys_mt[0]), abs(girls_mt_grades.mean()-ci_girls_mt[0])]
}

print("Comparação do intervalo de confiança da prova de LC para meninas e meninos")
print()
ci_math_and_sex_df = pd.DataFrame(table_math_and_sex,index = ["Meninos","Meninas"])
ci_math_and_sex_df.style

Comparação do intervalo de confiança da prova de LC para meninas e meninos

6. Construa um intervalo de confiança de 95% para proporção de meninas que
realizam a prova do ENEM.

In [ ]:
# Intervalo de Confiança para a proporção de meninas que realizam a prova

girls = data[data.TP_SEXO == "Feminino"]

girls_proportion = len(girls)/len(data)
ci_girls_proportion = proportion_confidence_interval(girls,data)

girls_proportion_table = {
    "Limite Inferior" : ci_girls_proportion[0],
    "Limite Superior" : ci_girls_proportion[1],
    "Margem De Erro" : abs(girls_proportion - ci_girls_proportion[0])
}

print("Intervalo de Confiança para a proporção de meninas que realizam a prova")
print()
ci_girls_proportion_df = pd.DataFrame(girls_proportion_table, index = ["Proporção"])
ci_girls_proportion_df.style

Intervalo de Confiança para a proporção de meninas que realizam a prova

7. Construa um intervalo de confiança de 95% para proporção de meninos que
realizam a prova do ENEM.

In [ ]:
# Intervalo de Confiança para a proporção de meninos que realizam a prova

boys = data[data.TP_SEXO == "Masculino"]

boys_proportion = len(boys)/len(data)

ci_boys_proportion = proportion_confidence_interval(boys,data)

boys_proportion_table = {
    "Limite Inferior" : ci_boys_proportion[0],
    "Limite Superior" : ci_boys_proportion[1],
    "Margem De Erro" : abs(boys_proportion - ci_boys_proportion[0])
}

print("Intervalo de Confiança para a proporção de meninos que realizam a prova")
print()
ci_boys_proportion_df = pd.DataFrame(boys_proportion_table, index = ["Proporção"])
ci_boys_proportion_df.style

Intervalo de Confiança para a proporção de meninos que realizam a prova